# Google Drive API Configuration
GOOGLE_DRIVE_API_KEY=
NEXT_PUBLIC_GOOGLE_DRIVE_API_KEY=
NEXT_PUBLIC_GOOGLE_DRIVE_ROOT_FOLDER_ID=

# Configurazione Negozio
NEXT_PUBLIC_STORE_NAME="NotExistShoppingPlace"
NEXT_PUBLIC_STORE_TAGLINE="Collezione Esclusiva by 0Not_Exist0"
NEXT_PUBLIC_WHATSAPP_NUMBER="coming soon"
NEXT_PUBLIC_CURRENCY="€"
