# Google Drive API Configuration
GOOGLE_DRIVE_API_KEY=
NEXT_PUBLIC_GOOGLE_DRIVE_API_KEY=
NEXT_PUBLIC_GOOGLE_DRIVE_ROOT_FOLDER_ID=

# Configurazione Negozio & Brand
NEXT_PUBLIC_STORE_NAME="NotExistShoppingPlace"
NEXT_PUBLIC_STORE_TAGLINE="Collezione Esclusiva & Servizi Digitali by 0Not_Exist0"
NEXT_PUBLIC_WHATSAPP_NUMBER="coming soon"
NEXT_PUBLIC_CURRENCY="€"

# Collegamenti eBay Ufficiali
NEXT_PUBLIC_EBAY_USERNAME="newebservices"
NEXT_PUBLIC_EBAY_STORE_URL="https://www.ebay.it/sch/i.html?item=287591702835&rt=nc&_trksid=p4429486.m3561.l161211&_ssn=newebservices"
NEXT_PUBLIC_EBAY_LISTING_URL="https://www.ebay.it/itm/287591702835"
